body {
    background: url('index.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #ffffff;
    margin-top: 100px;
}

h2 {
   text-align: center; 
}

input[type=text],input[type=password], input[type=number], select, input[type=tel] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    outline: none;
    border-bottom: 1px dotted #fff;
    border-radius: 5px;
    color: white;
    margin: 5px;
    font-weight: bold;
}

input[type=email] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0, 0, 0, 0.10);
    border: none;
    outline: none;
    border-bottom: 1px dotted #fff;
    border-radius: 5px;
    color: white;
    margin: 5px;
    font-weight: bold;
}

input[type=submit] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #ffffff;

}

input[type= submit]:hover {
    background: #003366;
    opacity: 0.7;
}

#link{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
#link a{
    color: white;
    font-size: medium;
    margin: auto;
}